<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      const ROOM_ID = "<%= roomId %>"
      const TRAINER = "<%= userCreatedRoom %>"
    </script>
    <title>Streaming</title>
    <link rel="stylesheet" href="index.css">
    <script>
      const ROOM_ID = "<%= roomId %>"
      const TRAINER = "<%= userCreatedRoom %>"
    </script>
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="stream.js" defer></script>
    <script src="chat.js" defer></script>
</head>
<body>
   <div class = "stream__body">
      <div class="video-grid">
         video will go here
      </div>
      <div class="chat__body">
         <form>
            <!-- message container is the main message are -->
            <input type = "text" placeholder="press enter to send">
            <div id="message-container">
               the message
            </div>
         </form>
      </div>
   </div>
</body>
</html>